.dettagli {
  display: flex;
  flex-direction: column;
  padding: 0 50px;

  @media(max-width: 950px){
    padding: 0;
  }

  &_container {
    width: 50%;
    height: fit-content;

    @media(max-width: 950px){
      width: 100%;
    }
  }

  &_cta{
    display: flex;
    align-items: center;
  }
}

.pdf_link{
  display: flex;
  width: fit-content;
  align-items: center;
}
