#main-proprietà {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  .container-annunci {
    display: flex;
    flex-direction: column;
  }

  .annunci {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 50vw;
    height: 80vh;
    overflow: auto;
    margin-right: 2px;

    @media (max-width: 950px) {
      width: 100%;
      height: auto;
      justify-content: flex-start;
    }

    @media (max-width: 800px) {
      justify-content: center;
    }

    @media (min-width: 1100px) {
      justify-content: space-evenly;
    }
  }

  .mappa {
    width: 50vw;
    height: 81vh;
    border: none;

    @media (max-width: 950px) {
      display: none;
    }
  }

  @media (max-width: 950px) {
    flex-direction: column;
  }
}

.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 75vh;
  width: 40vw;
  margin: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(
    0deg,
    rgb(2, 0, 36) -100%,
    rgb(9, 9, 9) 3%,
    rgba(255, 255, 255, 0.2637429972) 82%
  );
  transition: 250ms ease-in-out;

  @media (max-width: 950px) {
    width: 90vw;
    height: 80vh;
  }

  @media(max-width: 800px){
      width: 40vw;
      height: 45vh;
  }

  @media(max-width: 500px){
      width: 78vw;
      height: 60vh;
  }

  &-text{
    position: absolute;
    width: 100%;
  }

  &-content {
    color: white;
    margin: 0;
    padding: 3px 15px;
  }

  &-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    font-style: italic;

    .card-btn {
      border: none;
      background-color: transparent;
      color: white;
      font-size: medium;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.card:hover {
  box-shadow: 0px 5px 10px 5px #888888;
  cursor: pointer;
}

.card_img {
  height: 100%;
  width: 100%;
  z-index: -1;
  background-position: center;
  background-size: cover;
}

.link_annuncio{
  background-color: transparent !important;
}