@import "../../style/colors";

.hero {
  position: relative;
  height: 95vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;

  @media (min-width: 1400px) {
    height: 90vh;
  }

  @media (max-width: 950px) {
    height: 50vh;
  }

  @media (max-width: 500px) {
    height: 70vh;
  }

  .btns {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;

    .hero_btn {
      border: 2px solid white;
      color: white;
      background-color: rgba(0, 0, 0, 0.2);
      margin-right: 15px;
      padding: 5px 10px;
      font-size: large;
      transition: 0.5s;
    }

    @media (max-width: 500px) {
      flex-direction: column;

      .hero_btn {
        font-size: small;
        margin-top: 10px;
      }
    }

    @media (min-width: 1500px) {
      .hero_btn {
        padding: 10px 20px;
        font-size: 20px;
      }
    }
  }

  &_btn:hover {
    background-color: rgb(255, 255, 255) !important;
    color: $blue !important;
    border: 2px solid $blue !important;
    margin-bottom: 0px;
    text-shadow: none;
    transition: 0.7s;
  }

  &_text {
    position: absolute;
    left: 0;
    border-radius: 10px;
    margin: 10px 25px;
    padding: 0 15px;
    width: 80%;
    color: white;
    font-weight: bolder;
    font-size: 20px;

    @media (max-width: 1000px) {
      font-size: 15px;
    }
  }

  &_slide {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: background-image 0.5s;
  }
}

.heroBg {
  width: 100%;
  height: 100%;
  filter: blur(0);
  // animation: fadeImg 1s ease-out 4s infinite forwards alternate; il delay non sembra andare
}

@keyframes fadeImg {
  0% {
    filter: blur(5px);
  }

  100% {
    filter: blur(0px);
  }
}

.videoSlider {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/azzureBg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 5vh;
}

iframe {
  width: 50vw;
  height: 56vh;

  @media (max-width: 950px) {
    width: 80vw;
    height: 56vh;
  }
}

.video {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);

  @media (max-width: 950px) {
    left: 50%;
  }

  &Link {
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translate(150%, -50%);

    @media (max-width: 950px) {
      width: 70vw;
      top: 10%;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }
}

.hiddenVideo {
  display: none;
}

.video_arrow_cont {
  position: absolute;
  left: 60%;
  transform: rotate(90deg);

  @media (max-width: 950px) {
    left: 80%;
    top: 10%;
  }
}

.video_arrow {
  width: 50px;
  height: auto;

  @media (max-width: 950px) {
    width: 40px;
    height: auto;
  }
}

.video_arrow:hover{
  cursor: pointer;
}