header {
  display: flex;
  border-bottom: 1px solid #888888;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .container {
    display: flex;
    .logo-title {
      font-weight: 700;
      font-size: 18px;
    }
    .logoContainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .nav {
    display: flex;
    font-size: 18px;
    font-weight: 500;

    .dropdown_content {
      position: relative;
      border: 1px solid dark;
    }
  }

  .logo {
    height: 60px;
    width: 60px;
  }

  .menu {
    display: none;
  }

  @media (max-width: 950px) {
    .nav {
      display: none;
    }

    .nav_open {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100vw;
      font-size: 20px;
      font-weight: 550;
      margin: 15px 0;

      a {
        margin: 0 25px;
      }
    }

    .menu {
      display: flex;
    }
  }

  @media (max-width: 950px) {
    display: flex;
    flex-direction: column;

    .container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .logoContainer {
        display: flex;
      }

      .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          height: 35px;
          width: 35px;
        }
      }
    }
  }
  a{
    @media(max-width: 950px){
      border-bottom: 1px solid #888888;
    }
  }
}

.dropdown-container {
  position: relative;
  height: 2vh;
  margin-top: 20px;

  @media(max-width: 950px){
    position:static;
    height: fit-content;
    margin: 0;
  }
}
.dropdown_content {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #f6f6f6d1;
  border-radius: 10px;
  border: 1px solid #888888c5;
  top: 10px;
  z-index: 10;

  a:hover{
    color: black;
    border-bottom: 3px solid #28669f;
    margin-bottom: 0px;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
  }
}

.hideDesktop {
  display: none;

  @media (max-width: 950px) {
    display: flex;
    flex-direction: column;
  }
}

.hideMobile{
  @media (max-width: 950px) {
    display: none;
  }
}