body {
    margin: 0 25px;
    font-family: Ubuntu, sans-serif;
    background-color: rgb(246, 246, 246);
    max-width: 1300px;
}

a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

input:required:valid{
    border: 1px solid green !important;
}

a:hover {
    color: black;
    border-bottom: 3px solid #28669f;
    margin-bottom: -3px;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
}

header {
    display: flex;
    border-bottom: 1px solid #888888;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .container {
        display: flex;
    }

    .nav {
        display: flex;

        .dropdown_content{
            position:relative;
            border: 1px solid dark;
            
        }
    }

    .logo {
        height: 60px;
        width: 60px;
    }

    .menu {
        display: none;
    }

    @media(max-width: 950px) {
        .nav {
            display: none;
        }

        .nav_open {
            display: flex;
            flex-direction: column;
        }

        .menu {
            display: flex;
        }
    }
}

footer {
    display: flex;
    border-top: 1px solid #888888;
    margin-top: 20px;
    padding: 10px 0px;
    background-color: rgb(246, 246, 246);
    justify-content: space-evenly;

    ul {
        padding: 0 10px;
        text-align: center;
    }

    li {
        list-style: none;
        padding: 5px 0px;
        color: #888888;
        font-size: small;

        a {
            color: #888888;
        }
    }

    @media(max-width:500px) {
        flex-direction: column;

        .cerca {
            display: none;
        }
    }
}

#hero {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;

    @media(max-width: 950px) {
        height: 400px;
    }

    @media(max-width: 500px) {
        height: 300px;
    }

    .btns {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;

        .hero_btn {
            border: 2px solid white;
            color: white;
            background-color: rgba(0, 0, 0, 0.2);
            margin-right: 15px;
            padding: 5px 10px;
            font-size: large;
        }

        @media(max-width: 500px) {
            .hero_btn {
                font-size: small;
                margin-top: 10px;
            }
        }
    }

    .hero_btn:hover {
        background-color: rgb(255, 255, 255);
        color: #28669f;
        border: 2px solid #28669f;
        margin-bottom: 0px;
        text-shadow: none;
        transition: all 0.3s ease-in-out;
    }

    .hero_text {
        border-radius: 10px;
        margin: 10px 25px;
        padding: 0 15px;
        width: 400px;
        color: white;
        font-weight: bolder;
        font-size: x-large;

        @media(max-width: 500px) {
            font-size: medium;
        }
    }
}

#main {
    margin: 10px 0px;

    h3{
        margin-top: 0;
    }

    .main_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0px;
        padding: 20px 0px;
        border-bottom: 1px solid #888888;
        text-align: justify;

        @media(max-width: 950px){
            flex-direction: column;
            justify-content:space-between;
            align-items:center;
        }
    }

    .main_bottom {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 20px 0px;

        @media(max-width: 800px){
            flex-direction: column;
            justify-content:space-between;
            align-items:center;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        box-shadow: 5px 10px 8px #888888;
        width: 40%;
        padding: 10px;
        margin: 0 15px;
        z-index: 1;
        
        @media(max-width: 950px){
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

#contatti{
    margin: 50px 0px;
    .cont_top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
            margin-bottom: 0px;
        }
        
        h3{
            margin-top: 10px;
        }
    }

    .cont_form{
        width: 100%;

        .row1{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .row1_content{
                width: 47%;
                padding: 10px;
                border-radius: 0;
                border: 1px solid black;

                @media(max-width: 950px){
                    width: 45%;
                }
                @media(max-width: 500px){
                    width: 40%;
                }
            }
        }

        .row2{
            display: flex;

            .row2_content{
                width: 100%;
                padding: 10px;
                border-radius: 0;
                border: 1px solid black;
            }
        }

        .row3{
            display: flex;
            justify-content: center;

            .form_btn{
                border: 1px solid black;
                background-color: transparent;
                margin-right:15px;
                padding: 5px 20px;
                font-size: medium;
            }
            
            .form_btn:hover{
                background-color: rgb(255, 255, 255);
                color: #28669f;
                border: 2px solid #28669f;
                margin: -1px;
                text-shadow: none;
                cursor: pointer;
            }
        }
    }

}