@font-face {
    font-family: Imported;
    src: url(./AvenirNextLTPro-Regular.otf);
}

body {
    margin: 0 25px;
    font-family: Imported;
    background-color: rgb(246, 246, 246);
}

a {
    text-decoration: none;
    color: black;
    padding: 5px;
}

input:required:valid {
    border: 1px solid green !important;
}

a:hover {
    color: #28669f;
    // border-bottom: 3px solid #28669f;
    margin-bottom: -3px;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
}

.text-shadow {
    text-shadow:
        0.05em 0 rgba(0, 0, 0, 0.2),
        0 0.05em rgba(0, 0, 0, 0.2),
        -0.05em 0 rgba(0, 0, 0, 0.2),
        0 -0.05em rgba(0, 0, 0, 0.2),
        -0.05em -0.05em rgba(0, 0, 0, 0.2),
        -0.05em 0.05em rgba(0, 0, 0, 0.2),
        0.05em -0.05em rgba(0, 0, 0, 0.2),
        0.05em 0.05em rgba(0, 0, 0, 0.2);
}

.my-5 {
    margin: 5px 0px;
}

.mx-15 {
    margin: 0px 15px;
}

.px-15 {
    padding: 0px 15px;
}

.px-40 {
    padding: 0px 40px;
}

.py-10 {
    padding: 10px 0px;
}

.py-20 {
    padding: 20px 0px;
}

.py-2010{
    padding-top: 20px;
    padding-bottom: 10px;
}

.my-10 {
    margin: 10px 0px;
}

.my-20 {
    margin: 20px 0px;
}

.bg_card1 {
    background-image:linear-gradient(0deg, rgb(2, 0, 36) -100%, rgb(9, 9, 9) 3%, rgba(255, 255, 255, 0.2637429972) 82%), 
    url('../images/boscoCitta.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bg_card2 {
    background-image:linear-gradient(0deg, rgb(2, 0, 36) -100%, rgb(9, 9, 9) 3%, rgba(255, 255, 255, 0.2637429972) 82%), 
    url('../images/cityLife.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bg_card3 {
    background-image:linear-gradient(0deg, rgb(2, 0, 36) -100%, rgb(9, 9, 9) 3%, rgba(255, 255, 255, 0.2637429972) 82%), 
    url('../images/martini.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bg_card4 {
    background-image:linear-gradient(0deg, rgb(2, 0, 36) -100%, rgb(9, 9, 9) 3%, rgba(255, 255, 255, 0.2637429972) 82%), 
    url('../images/palazzo1.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bg_card5 {
    background-image:linear-gradient(0deg, rgb(2, 0, 36) -100%, rgb(9, 9, 9) 3%, rgba(255, 255, 255, 0.2637429972) 82%), 
    url('../images/interno1.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.img_fluid {
    /*DA MODIFICARE, Specificare max-width nei singoli elementi + modificarla con media*/
    width: 100%;
    max-width: 700px;
    height: auto;
    z-index: -1;

    @media(min-width: 1400px){
            max-width: 900px;
    }
}

.hide {
    display: none;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #28669f;
}

.centered{
    width: 95vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}