@import "../../style/colors";

.slider {
  &_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 60vh;
    background-color: $light;

    @media(max-width: 950px){
      width: 100%;
    }

    &_open {
      z-index: 100;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      background-color: $light;
    }
  }

  &_img {
    height: 100%;
    width: auto;
    max-width: 100%;
    cursor: url("../../images/plus.svg"), auto;

    &_open{
      height: 100%;
      width: auto;
      max-width: 100%;
      cursor: url("../../images/plus.svg"), auto;
    }
  }

  &_counter {
    position: absolute;
    bottom: 0;
    right: 0;
    color: black;
    margin: 10px;
    font-weight: 600;

    &_open {
      position: absolute;
      bottom: 0;
      right: 0;
      color: $light;
      margin: 20px;
    }
  }

  &_arrow_left{
    position: absolute;
    left: 0;
    transform: rotate(-90deg);
  }

  &_arrow_right{
    position: absolute;
    right: 0;
    transform: rotate(90deg);
  }

  &_arrow {
    width: 50px;
    height: auto;
  }

  &_arrow:hover {
    cursor: pointer;
  }
}

.slide{
  width: 100%;
  height:100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: url("../../images/plus.svg"), auto;
  transition: background-image 0.5s;
}